body {
    width: 100%;
    margin: 0 auto;
    background-image: url(/Basic-Portfolio/Assests/images/qbkls.png);
    background-repeat: repeat;
   
}
header{
    width: 960px;
    margin: 0 auto;
  

}
.container{
    width: 960px;
    margin: 0 auto;
  
    
}